/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* BASIC RESET normalize css for other browsers */

/* Universal Selector */
/* Margin and Padding 0 allows us to start clean without browser setting anything to elements */
/* Without this padding or borders are added to the height and width of an element */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Fonts are put in the body not global selector more efficient/better practice */
/* Line Height 1.7 means line height is 1.7x bigger than preset */
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
}

/* cover fits element into viewport */
/* clips element into a shape goes by corner points clockwise */
.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba(126, 213, 111, 0.8),
			rgba(40, 180, 131, 0.8)
		),
		url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

/* With height defined the browser will auto do th width */
.logo {
	height: 35px;
}

.logo:hover {
	animation: moveInRight 1s ease-out;
}

/* Use this to center a div */
/* Will shift -50% of the element so the middle is in the middle */
.text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* 
Backface visibility will make the element hidden during animations 
Fixes shaking during animations
*/
.heading-primary {
	color: #ffff;
	text-transform: uppercase;
	margin-bottom: 60px;

	backface-visibility: hidden;
}

/* To place the words on top of each other display them as blocks */
.heading-primary-main {
	display: block;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 35px;

	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	/*
    animation-iteration-count: 3;
	animation-delay: 3s; 
    */
}

.heading-primary-sub {
	display: block;
	font-size: 20px;
	font-weight: 700px;
	letter-spacing: 17.4px;

	animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

/* Animation for restart */
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		opacity: 80%;
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		opacity: 80%;
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* :link :visited is a pseudoclass which is a special state of the btn class
we want them to look the same so we put them together 
Transition : all - adds .2s animation timing to all states including hover 
put this here in the initial state */
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	border-radius: 100px;
	display: inline-block;
	transition: all 0.2s;
	position: relative;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
	background-color: #ffff;
	color: #777;
}

/* Pseudo element treated like a child of the element */
.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

.btn-white::after {
	background-color: #fff;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

/* Animation fill mode - loads keyframe styles before animation starts
so the button isn't visible before animation starts */
.btn-animated {
	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
}
